
#part0 {
    color:red;
    font-size: 35px;
    text-align: right;

}

#part1 {
    color:pink;
    font-size: 30px;
    text-align: center;

}
#part2 {
    color: green;
    font-size: 40px;
    text-align: left;

}

